

<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Grambo's Blog</title>
  <meta name="author" content="Graeme Coupar">

  
  <meta name="description" content="A few months ago I was having a browse of some of the jobs on stackoverflow
careers and I came across a job posting for Amazon. I wasn&#8217;t &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://blog.grambo.me.uk">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/atom.xml" rel="alternate" title="Grambo's Blog" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>

<meta property="fb:app_id" content="222612811167194" />


<meta property="og:description" content="A blog on coding, technology and assorted other things." />

<meta property="og:site_name" content="Grambo's Blog" />

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29311133-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Grambo's Blog</a></h1>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:blog.grambo.me.uk" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article id='blog-index-snippet'>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2012/09/17/discovering-cucumber/">Discovering Cucumber</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-09-17T21:20:00+01:00" pubdate data-updated="true">Sep 17<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>A few months ago I was having a browse of some of the jobs on stackoverflow
careers and I came across a job posting for Amazon.  I wasn&#8217;t intending on
applying for the job, but I decided to have a look and see what sort of skills
they were looking for.  I was a little surprised to find that there were some
terms in there that I couldn&#8217;t even begin to guess what they meant.  BDD?
Cucumber?  What are these things?</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2012/09/17/discovering-cucumber/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2012/05/22/the-importance-of-consistency/">The Importance of Consistency</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-05-22T21:54:00+01:00" pubdate data-updated="true">May 22<span>nd</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>Sometime in the past couple of weeks I posted a quick tweet complaining about inconsistencies in other people&#8217;s code.  I had a hard time condensing everything I wanted to say into one (or even a few) 160 character block(s), so eventually just gave up and posted a quick moan.  However I felt compelled to elaborate on my thoughts a little bit, so here I go.</p>

<p>Consistency. It&#8217;s one of the most important, perhaps <em>the</em> most important aspect of modern software development.  Consistency in code helps other programmers (or your future self) better understand unfamiliar areas of a system.  Similar benefits can be obtained from consistent system design;  Someone unfamiliar with a particular part of a system may be able to make some assumptions about how it works based on their previous experiences.  Even a user interface benefits hugely from a consistent look, feel &amp; behaviour.</p>

<p>In this post, I primarily want to talk about coding consistency, though I&#8217;ll maybe touch on a few other bits and pieces.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2012/05/22/the-importance-of-consistency/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2012/03/13/what-c-plus-plus-11-features-does-my-compiler-support/">What C++11 Features Does My Compiler Support?</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-03-13T12:18:00+00:00" pubdate data-updated="true">Mar 13<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>I&#8217;ve recently become obsessed with C++11, the new standard for the C++
language, that
<a href="http://akrzemi1.wordpress.com/2011/08/11/move-constructor/">massively</a>
<a href="http://insanecoding.blogspot.com/2010/03/c-201x-variadic-templates.html">improves</a>
certain areas of the language, and brings all kinds of
<a href="http://www.georgeflanagin.com/c++11/auto.php">modern</a>
<a href="http://www.softwarequalityconnection.com/2011/06/the-biggest-changes-in-c11-and-why-you-should-care/">features</a>
that <a href="http://www.python.org/">other</a>
<a href="http://en.wikipedia.org/wiki/C_Sharp_%28programming_language%29">languages</a>
have enjoyed for ages.  At present C++11 support is a bit patchy - no one
compiler supports all of the standard, and most of them have chosen to
implement different bits first.</p>

<p>When working in C++, I make use of about 3 compilers - the visual c++ 2010
compiler, and 3 different versions of GCC.  Which of course means that I&#8217;ve got
4 different C++11 feature sets to bear in mind.  This isn&#8217;t an easy task so I
regularly have to loop up the supported feature tables before I actually use a
feature.  I&#8217;m also thinking about switching some of my projects over to use
clang (at least on linux), which should complicate things further.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2012/03/13/what-c-plus-plus-11-features-does-my-compiler-support/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2012/02/20/adding-facebook-comments-to-octopress/">Adding Facebook Comments to Octopress</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-02-20T18:46:00+00:00" pubdate data-updated="true">Feb 20<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>Today I decided to have a go at adding comments to my blog.  Octopress comes with built in support for comments using <a href="http://disqus.com">disqus</a>, but I wanted to try and do something a little different.  Facebook comments seemed like a reasonable alternative - there&#8217;s no additional login required, all posts have to be backed by a facebook profile and it&#8217;s fairly easy to setup.  I also like the option to reduce visibility of comments - in this mode, comments will only be viewable by the poster, an their friends.  Sounds like a fairly good way to cut down on crap.</p>

<p>In an attempt to save myself a little learning time I had a look on google for a guide to setting up facebook comments on Octopress, but had no luck finding anything.  So, I&#8217;m going to walkthrough the (fairly straightforward) process here, in case anyone else wants to try it out.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2012/02/20/adding-facebook-comments-to-octopress/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2012/02/14/on-octopress/">On Octopress</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-02-14T23:58:00+00:00" pubdate data-updated="true">Feb 14<span>th</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>So, this is a blog.  Clearly.  Currently not the most exciting of blogs, but
hey - got to start somewhere.  I&#8217;ve chosen to host my blog using
<a href="http://octopress.org">Octopress</a>, and thought I&#8217;d write a bit about my
experiences with setting it up, and some of the tools I&#8217;ve decided to use with
it.</p>

<p>Octopress is billed as <em>&#8220;A blogging framework for hackers&#8221;</em>, so as you might
imagine is not really an ideal choice if you&#8217;re looking for point and click
simplicity.  Configuration and posting is entirely done through editing and
creating text files, which octopress processes to generate static HTML for
publishing.  Not great for anyone looking for a nice GUI to manage their blog,
but also nothing overly complicated.</p>

<p>The text based nature of octopress also brings a number of benefits:</p>

<ul>
<li>Easy backup and version control using git</li>
<li>Very easy deployment via git or rsync</li>
<li>Next to no server load</li>
<li>No need to setup MySQL, PHP etc. on server</li>
</ul>


<p>The environment setup for octopress is brief, which is exactly what you want -
a few commands and you&#8217;re up and running.  Unfortunately one of those commands
involves compiling ruby.  This doesn&#8217;t add difficulty, as all the usual
configure/make/make install is handled behind the scenes for you. However it
does add a bit more time than I&#8217;d have liked. On the slow atom processor in my
server, it probably took about 20 minutes to compile - hardly ideal for an
impulsive test of some software.</p>

<p>After the initial environment setup it&#8217;s just a case of cloning the octopress
git repository, and changing a few configuration and theming files to your
liking.</p>

<p>By default octopress uses <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a> for
formatting, so I&#8217;ve chosen to use <a href="http://code52.org/DownmarkerWPF/">MarkPad</a>
for editing my blog files.  MarkPad is a nice simple open source WYSIWYG editor
for markdown.  It also seems to support jekyll format files, which are used
behind the scenes by octopress.  It&#8217;s not entirely suited to using with
octopress - it doesn&#8217;t seem to generate the same file names as octopress
expects, and the date format in the headers is different, however I&#8217;m
planning on looking into ways to improve that.</p>

<p>All in all I&#8217;m quite happy with octopress for now, hopefully I actually find
enough topics to write about that I&#8217;ll use it regularly.</p>
</div>
  
  


    </article>
  
  <div class="pagination">
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">Discovering Cucumber</h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-09-17T21:20:00+01:00" pubdate data-updated="true">Sep 17<span>th</span>, 2012</time>
        
      </p>
    
  </header>


<div class="entry-content"><p>A few months ago I was having a browse of some of the jobs on stackoverflow
careers and I came across a job posting for Amazon.  I wasn&#8217;t intending on
applying for the job, but I decided to have a look and see what sort of skills
they were looking for.  I was a little surprised to find that there were some
terms in there that I couldn&#8217;t even begin to guess what they meant.  BDD?
Cucumber?  What are these things?</p>

<!-- more -->


<p>Of course, living in the age of the internet, I didn&#8217;t have to remain ignorant
for long.  A quick Google led me to the
<a href="http://en.wikipedia.org/wiki/Behavior-driven_development">Wikipedia for BDD</a>
and more importantly to the web page for <a href="http://cukes.info/">cucumber</a>.
After having a quick read of the examples on the main page for cucumber I was
very intrigued (if you don&#8217;t know what it is already, have a read for yourself).</p>

<p>At my work we tend to write out test specifications for a feature before
we actually write any code, and then later go on to write the tests based on
the test specs.  Doing things this way has never really felt right to me
though.  I certainly understand the need for solid testing and can see value in
having all your tests planned out before you write a drop of code; However since
the specs are little more than a document describing the test code it feels a
lot like I&#8217;m just duplicating information.  And duplication isn&#8217;t good.</p>

<p>So the idea that with cucumber I can write out tests in plain English and have
actual code tests run based off that is immensely appealing.</p>

<p>My only problem at this stage - cucumber is Ruby, and none of my projects are
written in Ruby (in fact, I don&#8217;t even know Ruby - but that&#8217;s not really an
issue).  However a lot of my recent personal projects have been web projects,
and it doesn&#8217;t really matter what language I test websites with, as most of the
testing can be done without using actual code interfaces (or if actual
interfacing is needed, it can easily be done through HTTP).  Thus, I decided to
try it out for high level testing on some of my web projects.</p>

<p>My initial impressions are very favourable - it&#8217;s incredibly simple to define
tests first and it no longer feels like I&#8217;m duplicating work by writing out
test specs.  I also really like the
<a href="https://www.relishapp.com/rspec/rspec-expectations/docs">RSpec-Expectations</a>
library that Ruby has, allowing you to write expectations out in almost
English - so much better than the assertion style expectations I&#8217;m used to.</p>

<p>Compare <code>assertEqual(1, 2)</code> with <code>1.should eq(2)</code>.  Not the
best example perhaps, but when you combine this with tools like
<a href="http://jnicklas.github.com/capybara/">Capybara</a> and get to write expectations
like <code>field.should have_content(text)</code> it starts to feel very powerful.</p>

<p>So, after this brief experiment I&#8217;m really rather impressed with Cucumber,
RSpec-Expectations and even Ruby itself - I&#8217;ve even found myself wishing for
RSpec like functionality in all the other languages I work with (more on that
in a future post).  Hopefully in the future I can find a way to integrate
Cucumber or a similar tool into the development processes at work, and
finally do away with redundant test specs.</p>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">Graeme Coupar</span></span>

      








  


<time datetime="2012-09-17T21:20:00+01:00" pubdate data-updated="true">Sep 17<span>th</span>, 2012</time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/bdd/'>bdd</a>, <a class='category' href='/blog/categories/coding/'>coding</a>, <a class='category' href='/blog/categories/cucumber/'>cucumber</a>, <a class='category' href='/blog/categories/technology/'>technology</a>, <a class='category' href='/blog/categories/testing/'>testing</a>, <a class='category' href='/blog/categories/tools/'>tools</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://blog.grambo.me.uk/blog/2012/09/17/discovering-cucumber/" data-via="Obmarg" data-counturl="http://blog.grambo.me.uk/blog/2012/09/17/discovering-cucumber/" >Tweet</a>
  
  
  <div class="g-plusone" data-size="medium"></div>
  
  
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false" data-colorscheme="dark" data-layout="button_count"></div>
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/2012/05/22/the-importance-of-consistency/" title="Previous Post: The Importance of Consistency">&laquo; The Importance of Consistency</a>
      
      
    </p>
  </footer>
</article>

<aside class="sidebar">
  
    <section>
  <h1>About Me</h1>
  <p>I blog on programming, technology and possibly other things</p>
</section>
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2012/09/17/discovering-cucumber/">Discovering Cucumber</a>
      </li>
    
      <li class="post">
        <a href="/blog/2012/05/22/the-importance-of-consistency/">The Importance of Consistency</a>
      </li>
    
      <li class="post">
        <a href="/blog/2012/03/13/what-c-plus-plus-11-features-does-my-compiler-support/">What C++11 features does my compiler support?</a>
      </li>
    
      <li class="post">
        <a href="/blog/2012/02/20/adding-facebook-comments-to-octopress/">Adding Facebook Comments To Octopress</a>
      </li>
    
      <li class="post">
        <a href="/blog/2012/02/14/on-octopress/">On Octopress</a>
      </li>
    
  </ul>
</section>

<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  
  <a href="https://github.com/obmarg">@obmarg</a> on GitHub
  
  <script type="text/javascript">
    $.domReady(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'obmarg',
            count: 0,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>


<section>
  <h1>Latest Tweets</h1>
  <ul id="tweets">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("Obmarg", 4, false);
    });
  </script>
  <script src="/javascripts/twitter.js" type="text/javascript"> </script>
  
    <a href="http://twitter.com/Obmarg" class="twitter-follow-button" data-show-count="false">Follow @Obmarg</a>
  
</section>



<section class="googleplus googleplus-hidden">
  <h1>
    <a href="https://plus.google.com/100742612308854049964?rel=author">
      <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
      Google+
    </a>
  </h1>
</section>



  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - Graeme Coupar -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  
  js.src = "//connect.facebook.net/en_US/all.js#appId=222612811167194&xfbml=1";
  
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>

